* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    line-height: 1.5;
}

.container{
    max-width: 1512.8px;
    width: 100%;
}

.navbar{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.navbar-container{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-box{
    margin-right: 200px;
    width: 315px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.navbar-boxs{
    width: 216px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-boxs-icon{
    font-size: 25px;
}

.header-box{
    width: 1248px;
    height: 512px;
    background-color: rgba(193, 220, 220, 1);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower-container{
    width: 450px;
    height: 400px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: black;
}

.header-right{
    margin-right: 72px;
    margin-top: 111px;
    position: relative;
}

.flower-first-image{
    position: absolute;
    top: 210px;
    left: -200px;
}

.flower-central-image{
    position: absolute;
    top: -94px;
    left: 47px;
}

.flower-second-image{
    position: absolute;
    top: -100px;
    left: 410px;
}

.header-title{
    font-size: 64px;
}

.stats-section{
    width: 318px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    width: 449px;
    height: 64px;
}

.header-left{
    padding: 35px;
    margin-bottom: 100px;
    width: 512px;
    height: 339px;
}

.search-box-input{
    margin-top: 30px;
    width: 395px;
    height: 56px;
    border-radius: 12px;
    padding: 15px;
    border: none;
    background-color: white;
}

.search-box-btn{
    position: relative;
    right: 55px;
    top: 1px;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: #C1DCDC;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-firsts{
    width: 256px;
    height: 200px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: -246px;
}

.start-first{
    width: 300px;
    height: 436px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.start-container{
    width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-firsts-link{
    text-decoration: none;
    padding: 12px 10px;
    background-color: rgba(193, 220, 220, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.starts-first-txt{
    color: rgba(30, 30, 30, 0.5);
}